.mains {
    margin: 50px;
    width: 270px;
    height: 350px;

    .main-for {
        display: flex;

        .main-center {
            position: relative;
            width: 270px;
            height: 350px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            .mm {
                width: 270px;
                height: 250px;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(240, 240, 240);

                img {
                    width: 172px;
                    height: 152px;
                    object-fit: cover;
                }
            }

            .pw {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                position: absolute;
                top: 10px;
                gap: 8px;
                right: 10px;
            }

            .pp {
                border-radius: 4px;
                background: rgb(219, 68, 68);
                width: 55px;
                height: 26px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 10px;
                left: 10px;
            }

            .ww {

                h6 {
                    color: rgb(0, 0, 0);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            .main-top1 {
                width: 85px;
                height: 24px;
                display: flex;
                justify-content: space-between;

                p {
                    color: rgb(219, 68, 68);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }

                h4 {
                    color: rgb(0, 0, 0);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                    text-decoration-line: line-through;
                }
            }

            .main-left {

                width: 140px;
                height: 20px;
                display: flex;
                justify-content: space-between;

                p {
                    color: rgb(0, 0, 0);
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            .product-btn {
                background-color: black;
                color: white;
                padding: 5px;

            }

            .product-btn:hover {
                background-color: gold;
                color: black;
            }

        }
    }
}